body {
  margin: 0;
  height: 100vh;
}

canvas {
  display: block;
}


/* #c {
    width: 100vw;
    height: 100vh;
    display: block;
    background: url(images/arrow.jpg) no-repeat center center;
    background-size: cover;
} */


h1 {
  /* absolute: postion above canvas */
  color: black;
  position: fixed;
  /* top: 50%; */
  /* left: 50%;
  transform: translate(-50%, -50%); */
  top: 2em;
  left: 2em;
  font-family: 'Times New Roman';
  font-size: 5em;
  text-transform: uppercase;
  width: auto;
  line-height: .8em;
  border-style: solid;
  border-color; black;
  border-width: 5px;
  padding: .2em;
}

.line {
  width: 400px;
  height: 50px;
  border-bottom: 5px solid black;
  -webkit-transform:
      translateY(-20px)
      translateX(5px)
      rotate(27deg);
  position: absolute;
  left: 51%;
  top: 56%;

}

.line_2 {

  width: 400px;
  height: 50px;
  border-bottom: 5px solid black;
  -webkit-transform:
      translateY(20px)
      translateX(5px)
      rotate(-26deg);
  position: absolute;
  left: 13%;
  top: 50%;

}

.line_d {
  border-bottom: 5px solid black;
  transform: rotate(45deg) translateY(50px) translateX(5px);;
  width: 1000px;

}

.arrow {
  position: absolute;

}

div {
  width: 5px;
  height: 700px;
  background-color: red;
  /* Rotate div */
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -webkit-transform: rotate(30deg);
  /* Chrome, Safari, Opera */
  transform: rotate(30deg);
  transform-origin: bottom left;
  position: absolute;
  left: 36%;
  top: -6%;
}

div:before,
div:after {
  content: '';
  position: absolute;
  left: 0;
  border-style: solid;
  border-color: red transparent;
}
div:after {
  top: 0;
  transform: translate(-40%, -50%);
  border-width: 0 10px 20px 10px;
}
div:before {
  bottom: 0;
  transform: translate(-40%, 50%);
  border-width: 20px 10px 0 10px;
}

/* i {
  border: solid green;
  border-width: 0 3px 40px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
} */
