body {
  margin: 0;
  height: 100vh;
}

canvas {
  display: block;
  position:fixed;
  left:0;
  top:0;
  z-index:-1;
}

.search_categories{
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #C7005D;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  left: 3%;
  top: 50%;
}

.search_categories .select{
  width: 120%;
  background-position:80% center;
}

.search_categories .select select{
  background: #D55490;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}

.search_categories{
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #C7005D;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  left: 3%;
  top: 50%;
}

.search_categories .select{
  width: 120%;
  background-position:80% center;
}

.search_categories .select select{
  background: #D55490;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}


.search_categories_1{
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #C7005D;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  left: 3%;
  top: 60%;
}

.search_categories_1 .select{
  width: 120%;
  background-position:80% center;
}

.search_categories_1 .select select{
  background: #6516CF;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}

.search_categories_2{
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #C7005D;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  left: 3%;
  top: 70%;
}

.search_categories_2 .select{
  width: 120%;
  background-position:80% center;
}

.search_categories_2 .select select{
  background: #166DCF;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}

.search_categories_3{
  font-size: 13px;
  padding: 10px 8px 10px 14px;
  background: #C7005D;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  position: fixed;
  left: 3%;
  top: 80%;
}

.search_categories_3 .select{
  width: 120%;
  background-position:80% center;
}

.search_categories_3 .select select{
  background: #FFFFFFFF;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}
